/* * {
    margin: 0;
    padding: 0;
} */

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

#top-band {
    /*  height: 70px; */
    background-color: #316DC3;
    /* position: relative; */
}

/* #top-band ul { */
/*  margin-left: 20px; */
/*  display: inline; */
/* position: relative; */
/* bottom: 20px; */
/* } */

#top-band li {
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
}

#top-band li i {
    color: #FFFFFF;
    font-size: 12px;
}

#top-band li i.wtsp {
    background-color: #65BC54;
    padding: 5px;
    border-radius: 2px;
    font-size: 14px;
}

#top-band p {
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    padding-left: 55px;
    padding-top: 10px;
}

button {
    width: 85px;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
    padding: 2px;
    background-color: #F5F5F5;
    border: 1px solid #006618;
    color: #063b12;
    cursor: pointer;
}

/* #b1 {
    position: absolute;
    right: 160px;
    top: 10px;
}

#b2 {
    position: absolute;
    top: 10px;
    right: 70px;
}
*/
#b3 {
    /*  
    position: absolute;
    top: 37px;
    right: 145px;
    */
    width: 100px;
}

.header12 {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar .img-fluid {
    max-width: 65%;
}

#nav-bar {
    max-width: 100%;
}

#nav-bar {
    /* height: 65px; */
    background-color: #F7F8FA;
}

.nav-item:hover {
    color: #fff;
    border-radius: 20px;
    background-color: #316DC3;
    transition: border-radius .2s ease-out;
}

.no-change:hover {
    background: none;
}

.nav-item:hover nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

#main-img {
    width: 100%;
    max-width: 100%;
}

marquee {
    background-color: #316DC3;
    color: white;
}

#marq {
    padding-top: 10px;
    width: 97%;
    margin: 0 auto;
}

marquee a {
    color: #00FF00;
}

marquee a:hover {
    color: white;
}

#work {
    margin-top: 15px;
    background-color: #F7F8FA;
}

#intro,
#works {
    background-color: #F7F8FA;
}

#intro h1,
#work h1 {
    color: #316DC3;
}

#intro span,
#work span {
    color: #427900;
}

#intro p {
    text-align: justify;
}

#stats {
    color: white;
    background-color: #2655E8;
    padding: 80px 0;
}

#stats p span {
    color: #00FF00;
    font-weight: 800;
}

#works .item {
    border: 1px solid darkgray;
    background-color: #fff;
    padding: 50px 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#works .item i {
    font-size: 52px;
    margin: 0;
}

#works .item h3 {
    font-size: 24px;
    margin: 15px 0 10px 0;
    color: #316DC3;
}

.gap {
    padding: 25px 15px 5px 15px;
}

#projects {
    padding: 40px 0;
}

#projects h3 {
    color: #316DC3;
}

#projects hr {
    width: 50px;
    height: 1px;
    float: left;
    margin: 0;
    background-color: #427900;
}

#projects .item {
    background-color: #edf0f3;
    padding: 5px 30px;
}

#projects .item i {
    font-size: 32px;
    margin: 0;
    float: left;
}

#projects .item h3 {
    font-size: 18px;
    margin: 10px 0 10px 0;
    color: #316DC3;
}

#projects marquee {
    background-color: white;
    color: #7B7B7B;
}

#footer {
    background-color: #25272E;
    color: white;
    padding: 50px 20px;
    margin-top: 30px;
}

#footer #info {
    color: rgb(180, 184, 190);
}

#footer hr {
    width: 50px;
    height: 1px;
    float: left;
    margin: 0;
    background-color: #427900;
}

#footer ul {
    padding: 0;
}

#footer li {
    display: inline;
    padding-right: 10px;
}

#footer i {
    color: #427900;
}

#footer .social-icons {
    color: white;
    font-size: 14px;
    background-color: #316DC3;
    border-radius: 50%;
    padding: 7px;
}

#footer-last {
    background-color: #316DC3;
    color: white;
    font-size: 14px;
    padding: 7px;
}

@media only screen and (max-width: 991px) {
    .sm-text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 767px) {
    #top-band ul {
        margin: 0;
        padding: 0;
    }

    .navbar .img-fluid {
        max-width: 70%;
    }
}

@media only screen and (max-width: 575px) {

    .head {
        font-size: 22px;
    }

    #top-band ul {
        margin-left: -5px;
    }

    #top-band p {
        position: relative;
        right: 20px;
    }

    button {
        margin-top: 0;
    }

    /* .navbar .img-fluid{
        max-width: 50%;
    } */

    .navbar-brand {
        width: 65%;
    }

    .gap {
        padding-bottom: 5px;
    }

    #projects {
        margin: 0 0 0 15px;
        width: 92%;
    }

    #projects marquee {
        width: 75%;
    }
}